/*inclusion de la police d'écriture*/
@font-face {
    font-family: "Montserrat";
    src: url(Assets/Fonts/Montserrat-VariableFont_wght.ttf)format("truetype"),
        url(Assets/Fonts/Montserrat-Italic-VariableFont_wght.ttf)format("truetype"),
        url(Assets/Fonts/static/Montserrat-ExtraBold.ttf)
}

strong {
    font-family: "Montserrat";
    font-weight: extra-bold;
}

html,
body {}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;

}

.parrent-nav-top {
    height: 5rem;
    background-color: #152237;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    font-size: 0.9375rem;
    width: 105rem;
    height: 5rem;
}

.parrent-nav-top img {
    width: 5.25rem;
    height: 1.9375rem;
    margin-left: 6rem;
}

.gauche-container {
    display: flex;
    align-items: center;
    gap: 9.375rem;
    flex-shrink: 0;
}

.formation-link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1.25rem;

}

.nav-list a {
    text-decoration: none;
    color: #152237;
    border-radius: 0.625rem;
    padding: 0.9375rem;

}

.nav-list .color-connect {
    background: #FFFFFF;
}

.nav-list .color-sign {
    background: linear-gradient(0.25turn, #44DD8A, #15B7E2);
    margin-right: 2rem;
}

.recherche-top {
    width: 29.8125rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.375rem;
    border: 0.0625rem solid #ffffff;
}

.recherche-top::placeholder {
    color: #FFFFFF;
    padding-left: 1.25rem;
}

.logo:hover {
    transform: scale(1);
}

.conteneur-recherche {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 29.8125rem;
}

.conteneur-recherche .fa-solid {
    position: absolute;
    right: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
}

.banniere {
    background: linear-gradient(to right, rgba(68, 221, 138, 0.8), rgba(21, 183, 226, 0.8)), url("Assets/Img/bg-header.png");
    height: 28.188rem;
    width: 105rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.bannierecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannierecontent h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #152237;
    text-transform: uppercase;
    position: absolute;
    top: 9.063rem;
    left: 20.563rem;


}

.bannierecontent p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 13.5rem;
    left: 30.25rem;
}

.bannierecontent button {
    position: absolute;
    left: 48.438rem;
    top: 16.375rem;
    border-radius: 0.375rem;
    padding: 0.625rem;
    background-color: white;
    color: black;
    border: white solid 2px;
}

/*les fomrations populaires*/
.LFP {
    display: flex;
    padding-bottom: 6.25rem;
    justify-content: space-between;
    flex-direction: row;
    width: 105rem;
    height: 39.5rem;
}

.LFP h2 {
    font-weight: 800;
    font-size: 2.25rem;
    margin-left:6.875rem;
    margin-top: 3.188rem;
    margin-bottom: 3.563rem;

}

.Cartes-contenaires {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

.Carte1 {
    margin-left: 6.5rem;
    margin-right: 5.75rem;


}

.Carte2 {
    margin-right: 4.75rem;

}

.Carte3 {
    margin-right: 5.688rem;
    position: relative;

}

.Carte4 {
    margin-right: 6.313rem;
    position: relative
}

.prix1 {
    border-radius: 62.438rem;
    border: #152237 solid 2px;
    background-color: #152237;
    color: white;
    position: absolute;
    left: 19.5rem;
    bottom: 8.188rem;
    padding: 0.125rem;
    padding-left: 0.313rem;
    font-weight: 100;
}

.prix1 h3 s {
    font-weight: 100;
    font-size: xx-small;
    text-align: center;
    color: white;
    margin-left: 0.09rem;
    /*a modifier*/

}

.Carte1 h4 {
    font-weight: 800;
    padding-top: 1.313rem;
    font-size: x-large;
    color: #152237;
    padding-bottom: 0.875rem;
    margin-left: 0.813rem;
}

.Carte1 p {
    font-size: small;
    font-weight: normal;
    padding-left: 0.055rem;
    white-space: pre-line;
    margin-left: 0.813rem;
}

.Carte1 a {
    margin-left: 0.813rem;
}

.prix2 {
    border-radius: 62.438rem;
    border: #152237 solid 2px;
    background-color: #152237;
    color: white;
    position: absolute;
    left: 44.5rem;
    bottom: 8.063rem;
    padding: 0.125rem;
    padding-left: 0.313rem;
    font-weight: 100;
}

.Carte2 h3 s {
    font-weight: 100;
    font-size: xx-small;
    text-align: center;
    color: white;
    margin-left: 0.813rem;
}

.Carte2 h4 {
    font-weight: 800;
    padding-top: 1.313rem;
    margin-left: 0.813rem;
    font-size: x-large;
    color: #152237;
    padding-bottom: 0.875rem;
}

.Carte2 p {
    font-size: small;
    font-weight: normal;
    white-space: pre-line;
    margin-left: 0.813rem;

}

.Carte2 a {
    margin-left: 0.813rem;
}


.Carte3 h4 {
    font-weight: 800;
    font-size: x-large;
    color: #152237;
    margin-top: 1.25rem;
    bottom: 1.25rem;
    padding-bottom: 0.875rem;
    margin-left: 0.813rem;
}

.prix3 {
    border-radius: 62.438rem;
    border: #152237 solid 2px;
    background-color: #152237;
    color: white;
    position: absolute;
    left: 13.5rem;
    bottom: 8rem;
    padding: 0.125rem;
    padding-left: 0.313rem;
    font-weight: 100;
}

.Carte3 h3 s {
    font-weight: 100;
    font-size: xx-small;
    text-align: center;

}

.Carte3 p {
    font-size: small;
    font-weight: normal;
    margin-left: 0.813rem;
    white-space: pre-line;
}

.Carte3 a {
    margin-left: 0.813rem;
}

.Carte4 h4 {
    font-weight: 800;
    font-size: x-large;
    color: #152237;
    margin-top: 1.125rem;
    padding-bottom: 0.875rem;
    margin-left: 0.813rem;
}

.Carte4 h3 s {
    font-weight: 100;
    font-size: xx-small;
    text-align: center;
}

.prix4 {
    border-radius:62.438rem;
    border: #152237 solid 2px;
    background-color: #152237;
    color: white;
    position: absolute;
    left: 13.8rem;
    bottom: 8rem;
    padding: 0.125rem;
    padding-left: 0.313rem;
    font-weight: 100;
}

.Carte4 p {
    font-size: small;
    font-weight: normal;
    white-space: pre-line;
    margin-left: 0.813rem;
}

.Carte4 a {
    margin-left: 0.813rem;
}

.LFP button {
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #152237;
    color: white;
    position: absolute;
    left: 49.375rem;
    margin-top: 2.375rem;
    margin-bottom: 2.938rem;
    padding: 0.5rem 0.625rem;
    border: solid 1px #152237;
}

/*Les foramtions récentes*/

.LFR {
    display: flex;
    padding-bottom: 6.25rem;
    background-color: #152237;
    width: 105rem;
    height: 39.5rem;
}

.LFR section {
    display: flex;
    flex-direction: column;
}

.LFR h2 {
    align-self: flex-start;
    font-weight: 800;
    font-size: 2.25rem;
    margin-top: 3.563rem;
    margin-bottom: 3.563rem;
    margin-left: 6.063rem;
    color: white;

}

.Cartes-contenaires2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.Carte5 {
    margin-left: 6.25rem;
    margin-right: 5.75rem;
    position: relative;
}

.Carte6 {
    margin-right: 4.75rem;
    position: relative;
}

.Carte7 {
    margin-right: 5.688rem;
    position: relative;

}

.Carte8 {
    margin-right: 6.313rem;
    position: relative;

}

.prix5 {
    border-radius: 62.438rem;
    padding: 0.188rem;
    border: white thin 2px;
    background-color: white;
    color: #152237;
    position: absolute;
    top: 11.875rem;
    left: 12.813rem;

}

.prix6 {
    border-radius: 62.438rem;
    padding: 0.188rem;
    border: white thin 2px;
    background-color: white;
    color: #152237;
    position: absolute;
    top: 11.875rem;
    left: 12.813rem;

}

.prix7 {
    border-radius: 62.438rem;
    padding: 0.188rem;
    border: white thin 2px;
    background-color: white;
    color: #152237;
    position: absolute;
    top: 11.875rem;
    left: 12.813rem;
}

.prix8 {
    border-radius: 62.438rem;
    padding: 0.188rem;
    border: white thin 2px;
    background-color: white;
    color: #152237;
    position: absolute;
    top: 11.875rem;
    left: 12.813rem;
}

.Cartes-contenaires2 s {
    font-size: xx-small;
    font-weight: 400;
}

.Carte5 h4 {
    font-weight: 800;
    font-size: x-large;
    color: white;
    margin-top: 1.125rem;
    margin-bottom: 0.875rem;
    margin-left: 0.688rem;

}

.Carte5 p {
    font-size: small;
    font-weight: normal;
    color: white;
    white-space: pre-line;
    margin-left: 0.688rem;
    margin-bottom: 0.313rem;
}

.Carte6 p {
    font-size: small;
    font-weight: normal;
    color: white;
    margin-left: 0.688rem;
    margin-bottom: 0.313rem;
}

.Carte7 p {
    font-size: small;
    font-weight: normal;
    color: white;
    margin-left: 0.688rem;
    margin-bottom: 0.313rem;
    white-space: pre-line;
}

.Carte8 p {
    font-size: small;
    font-weight: normal;
    color: white;
    margin-left: 0.688rem;
    margin-bottom: 0.313rem;
}



.Carte6 h4 {
    font-weight: 800;
    font-size: x-large;
    color: white;
    margin-top: 1.125rem;
    margin-bottom: 0.875rem;
    margin-left: 0.688rem;
}

.Carte7 h4 {
    font-weight: 800;
    font-size: x-large;
    color: white;
    white-space: pre;
    margin-top: 1.125rem;
    margin-bottom: 0.875rem;
    margin-left: 0.688rem;
}

.Carte8 h4 {
    font-weight: 800;
    font-size: x-large;
    color: white;
    margin-top: 1.125rem;
    margin-bottom: 0.875rem;
    margin-left: 0.688rem;
}

.eto1 {
    margin-left: 0.688rem;
    margin-bottom: 0.313rem;
}

.LFR button {
    border-radius:0.375rem;
    background-color: white;
    color: #152237;
    margin-left: 45.438rem;
    margin-top: 2.688rem;
    margin-bottom: 3.125rem;
    padding: 0.5rem 0.625rem;
    border: solid 1px #152237;
}

/*Avis des clients*/
.Avis {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 105rem;
    height: 37.313rem;

}
.Avis section{
    display: flex;

}

.Avis h1 {
    font-weight: bold;

}

.avh2 {
    align-self: center;
    justify-self: center;
    font-weight: 900;
    font-size: 2.75rem;
    margin-bottom:4.375rem;
    margin-top: 3.625rem;
    margin-left: 3.75rem;
    color: #152237;
    text-transform: uppercase;
}

.Juliette {
    color: #152237;
    font-size: larger;
    margin-left: 9.375rem;
    margin-right: 1.5rem;
    padding-bottom: 9.375rem;
}

.Camille {   
}

.pp {
    border-radius: 50%;
}

.Avis p {
    font-size: medium;
    color: #152237;
    line-height: 2em;
    white-space: pre-line;
}

.Avis h2 {
    color: #152237;
}

.eto {
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
}

/*Avantages*/

.a1 {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    padding-bottom: 1.688rem;
}

.Avantages {
    background-color: #f5f5f5;
    display: flex;
    width: 105rem;
    height: 40.063rem;
}

.Avantages h1 {
    white-space: pre;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 5.063rem;
    margin-left: 6.438rem;
    margin-right: 15.5rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 3.875rem;

}

.a2 {
    width: 45.438rem;
    height: 29.5rem;
    margin-top: 4.75rem;
    margin-right: 6.438rem;
    margin-bottom: 5.813rem;

}

.a1 img {
    margin-right: 2.188rem;
    margin-left: 6.125rem;
    height: 1.875rem;
    width: 1.875rem;

}

.Avantages p {
    white-space: pre-line;
    margin-right: 4.438rem;
    font-size: 1.5rem;
}

/*Création des formations*/
.Creform {
    background-color: #44DD8A;
    display: flex;
    width: 105rem;
    height: 40.063rem;
}

.Creform section {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.375rem;

}

.img1 {
    width: 45.563rem;
    height: 30.438rem;
    margin-top: 4.75rem;
    margin-left: 6.313rem;
    margin-bottom: 4.75rem;
    margin-right: 4.875rem;

}

.cvf {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 4.75rem;
    margin-bottom: 3.063rem;
    white-space: pre-line;

}

/*ici*/
.cf1 img {

    margin-right: 2.688rem;
    display: flex;
    width: 1.875rem;
    height: 1.875rem;
}

.cf1 p {
    white-space: pre-line;
    font-size: 1.375rem;
    margin-right: 6.25rem;
}

.cf1 {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding-bottom: 0.625rem;
}

.cf2 {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding-bottom: 0.625rem;
}

.cf2 img {
    margin-right: 2.688rem;
    display: flex;
    width: 1.875rem;
    height: 1.875rem;

}

.cf2 p {
    white-space: pre-line;
    font-size: 1.375rem;
    margin-right: 6.25rem;

}

.Propos {
    display: flex;
    flex-direction: row;
    width: 105rem;
    height: 46.25rem;

}

.Propos section {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.Propos h2 {

    margin-top: 11.75rem;
    margin-left: 6.438rem;
    margin-right: 18.5rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #152237;
    margin-bottom: 3rem;
    font-weight: 900;
    white-space: pre;
}

.pg1 {
    margin-bottom: 2.125rem;
    margin-left: 6.438rem;
    white-space: pre-line;
    font-size: 1.15rem;

}

.pg2 {
    margin-bottom: 11.813rem;
    font-size: 1.125rem;
    white-space: pre-line;
    margin-left: 6.438rem;

}

.logo {
    background-color: #152237;
    width: 51.875rem;
    height: 46.25rem;
}

.logo img {
    margin-top: 18.063rem;
    margin-left: 12.5rem;
    margin-bottom: 18.125rem;
}

/*Nous contacter*/
.Contact {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 105rem;

}

.Contact h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 4.313rem;
    margin-bottom: 2.688rem;
    margin-left: 40.25rem;
    margin-right: 40.25rem;
    white-space: pre;

}

.Contact form {
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    justify-content: space-between;
}

.Contact hr {
    background-color: #44DD8A;
    border: 1px solid #44DD8A;
    width: 21.875rem;
    margin-left: 41.5rem;
    margin-right: 40.25rem;
    margin-bottom: 3.375rem;
}

.Contact section {
    display: flex;
    align-content: center;

}

.Nom {
    margin-left: 10.625rem;
    color: white;
    margin-right:8.625rem;
    width: 37.438rem;
    height: 2.828rem;
    margin-bottom: 3.375rem;
}

.Nom input {
    background-color: #152237;
    width: 37.438rem;
    height: 2.813rem;

}

.names::placeholder {
    color: white;
    padding-left:0.75rem;
    padding-bottom:0.625rem;
}

.email {

    color: white;
    width: 37.438rem;
    height: 2.813rem;

}

.email input {
    background-color: #152237;

}

.email::placeholder {
    color: white;
    padding-left:0.75rem;
    padding-bottom: 0.625rem;
}

.message textarea {

    background-color: #152237;
    color: white;
    width: 83.5rem;
    height: 12.188rem;
    margin-left: 10.625rem;

}

.message input {
    background-color: #152237;


}

.message::placeholder {
    color: white;
    padding-left:0.75rem;
    padding-bottom:0.625rem;
    padding-top:0.625rem;

}


.btn {
    background-color: #44DD8A;
    color: #152237;
    border: solid 1px #44DD8A;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    padding:0.939rem 9.375rem;
    margin-top:3.375rem;
    margin-left: 40%;
    margin-bottom: 4.813rem;

}

.rectangle {
    width:105rem;
    height:1.125rem;
    background: linear-gradient(to left, #44DD8A, #18a0fb);
}

.Footer {
    background-color: #152237;
    display: flex;
    justify-content: space-between;
    width: 105rem;
    height: 29.438rem;
    flex-direction: column;
}

.imlogo {
    width:15.188rem;
    height: 5.438rem;
    margin-top: 5.688rem;
    margin-left: 5.688rem;
    margin-right:12.5rem;
    margin-bottom: 6rem;
   
}

.Mls {
    display: flex;
     margin-right:1.125rem;
    flex-direction: column;
}

.Mls section {
    flex-direction: column;
}

.Mls h4 {
    color: white;
    padding-top: 7.063rem;
    padding-bottom: 1.813rem;
    white-space: pre;
}

.MLL {
    color: white;
    padding-bottom:0.75rem;
   
}

.Coo h4 {
    color: white;
    padding-top: 7.063rem;
    white-space: pre;
    padding-bottom: 1.563rem;
}

.address {
    color: white;
    padding-bottom:0.438rem;
}

.sadress {
    color: white;
    padding-bottom:0.438rem;
}

.address img {
    padding-right:1.25rem;
}

.tel {
    color: white;
    padding-bottom:1.375rem;
}

.tel img {
    padding-right:1.25rem;
}

.mail2 {
    color: white;
    padding-bottom:0.438rem;
}

.mail2 img {
    padding-right:1.20rem;
}

.sadress2 {
    color: white;
    padding-left: 1.563rem;
    padding-bottom: 0.625rem;
}

.coin {
margin-top: 6.375rem;
}

.Connexion {
    background-color: white;
    border-radius:0.375rem;
    color: #152237;
    padding: 1rem 1.688rem;

    
    text-align: center;
    margin-bottom:0.625rem;
    margin-right:6.375rem;
}

.Inscription {
    background: linear-gradient(to right, #44DD8A, #18a0fb);
    border-radius: 0.375rem;
    color: #152237;
    padding: 1rem 1.688rem;
    text-align: center;
    margin-bottom:0.625rem;
    margin-right: 6.375rem
}

.hr2 {
    border: solid 2px #44DD8A;
    width: 92.625rem;
    margin-left:6rem;
    background-color: #152237;
}
.partie1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Rsx {
    display: flex;
    flex-direction: row;
    background-color: #152237;
    justify-content: flex-end;
    height: 12.188rem;
}

.K2025 {
    margin-right: auto;
    color: white;
    margin-left: 6rem;
    margin-top:1.688rem;
}

.Svn {
    color: white;
    margin-top: 2.188rem;
    margin-right: 1.875rem;
  
}

.Fb {
    margin-top: 1.875rem;
    margin-right: 1.188rem;
}

.X {
    margin-top: 1.875rem;
    margin-right: 1.188rem;
}

.insta {
    margin-top: 1.875rem;
    margin-right: 0.938rem;
}

.Lkn {
    margin-top: 1.875rem;
    margin-right:6.313rem;
}
.SN{
    display: flex;
    flex-direction: row;
}